<launch>

  <node pkg="slash-master-openloop" type="slash_teleop.py" name="slash_teleop">
  </node>

  <node pkg="joy" type="joy_node" name="joystick" >
    <param name="deadzone" value="0.0" />
  </node>

  <node pkg="rosserial_python" type="serial_node.py" name="arduino_serial_node" >
    <param name="port" value="/dev/ttyUSB1"/>
    <param name="baud" value="57600"/>
  </node>

</launch>
